#HTP-title {
    background-color: #1c6841;
    border-radius: 5px;
    margin-top: -60px;
    -webkit-box-shadow: -3px 5px 20px 0px #7f714a, 0px 0px 20px 0px #ffffff;
    -moz-box-shadow: -3px 5px 20px 0px #7f714a, 0px 0px 20px 0px #ffffff;
    box-shadow: -3px 5px 20px 0px #7f714a, 0px 0px 20px 0px #ffffff;
    color: #f3d67f;
    text-shadow: -1px -1px 0px #8a6800;
    font-family: 'Patrick Hand', cursive;
    font-size: 3.3rem;
    padding: 10px;
}

#p1 {
font-size: 1.7em;
margin-bottom: 1.2em;
color: #1c6841;
text-shadow: 0px 0px 3px #f3d67f, 0px 0px 8px #f3d67f;
}

.htp-text {
font-size: 1.2em;
font-family: 'Kanit', sans-serif;
text-align: center;
color: rgb(35, 35, 35);
}
.htp-text-last {
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #1c6841;
    text-shadow: 0px 0px 3px #f3d67f, 0px 0px 8px #f3d67f;
    }

#card-shadow {
    -webkit-box-shadow: 0px 1px 2px 4px #1c6841; 
    box-shadow: 0px 1px 2px 4px #1c6841;
     background-color: #fffff2;
}

hr {
    border: .1rem solid #1c6841;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-shadow: 0px 0px 3px #f3d67f, 0px 0px 8px #f3d67f; 
    box-shadow: 0px 0px 3px #f3d67f, 0px 0px 8px #f3d67f;
}