html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    background-color: rgb(143 143 143);
}

header {
    border-radius: 5px;
    background-color:rgb(186, 186, 186);
}

footer {
    background-color: rgb(186, 186, 186);
    display: table-row;
    height: 0;
}

#drop-btn {
    background-color: #fffff2;
}

#navbarNavDropdown ul li {
    font-family: 'Patrick Hand', cursive;
    margin-left: 5px;
}

#navbarNavDropdown ul li :hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: transform 150ms;
    transform: scale(1.07);
    text-shadow: 2px 2px 2px #232323, -1px 4px 2px #555555; 
}

#game-name {
    font-size: 2rem;
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;
}

#card-shadow {
    -webkit-box-shadow: 0px 1px 5px 7px #1c6841;
    box-shadow: 0px 1px 5px 7px #1c6841;
     background-color: #fffff2;
}

#welcome-title {

    background-color: #1c6841;
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: -3px 5px 20px 0px #7f714a, 0px 0px 20px 0px #ffffff;
    -moz-box-shadow: -3px 5px 20px 0px #7f714a, 0px 0px 20px 0px #ffffff;
    box-shadow: -3px 5px 20px 0px #7f714a, 0px 0px 20px 0px #ffffff;
    color: #f3d67f;
    text-shadow: -1px -1px 0px #8a6800;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.7rem;
}

.welcome-text {
    font-size: 1.3em;
    font-family: inherit;
    text-align: center;
    font-weight: 500;
    color: #545b62;
    }

    .btn {
        color: #f3d67f;
        background-color: #1c6841;
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 1.4em;
        border: 1px solid rgb(0, 0, 0);
        font-weight: 700;
        text-shadow: -1px -1px 0px #8a6800;
}

.btn:hover {
    cursor: pointer;
    color: #ffeaac;
    transition: transform 150ms;
    transform: scale(1.09);
    background-color: #2c955f;
}

.hide {
    display: none;
}

.poo-image {
    width: 100%;
    max-width: 330px;
    height: 75%;
    max-height: 224px;
    border-radius: 20px;
    border: solid 6px  #1c6841;
    padding: 1.1px 1.2px;
    
}

h4 {
    font-family: 'Patrick Hand', cursive;
    font-size: 190%;
    margin-bottom: -20px;
}

.btn-grid {
    width: 11rem;
    margin-bottom: 10px;
    margin-right: 7px;
    
}

.next-btn {
   margin-top: 10px;
   max-height: 50px;
}