html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    background-color: rgb(143 143 143);
}

header {
    border-radius: 5px;
    background-color:rgb(186, 186, 186);
}

footer {
    background-color: rgb(186, 186, 186);
    display: table-row;
    height: 0;
}

#drop-btn {
    background-color: #fffff2;
}

#navbarNavDropdown ul li {
    font-family: 'Lobster', cursive;
    font-size: 1.4rem;
    margin-left: 5;
}

#navbarNavDropdown ul li :hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: transform 150ms;
    transform: scale(1.07); 
}

#game-name {
    font-size: 1.3rem;
}